*{
    margin: 0;
    padding: 0;
    
    font-family: 'Josefin Sans', sans-serif;
}
.web{
    height: 100vh;
}
.navbar{
   position: fixed;
   margin :auto;
    height: 60px;
    width: 100%;

 background-color:#E2D1B0; 


}
.logo{
    
    
    width: 20%;
    float: left;

    

}
.logo img{
   margin : 5px 30px;
    height: 50px;
    width:50%;


}
.list {
    padding-top: 25px ;
    text-align: center;


 
}
.list ul li{
    color: rgb(0, 0, 0);
    display:inline-block ;
    
    
     margin-left: 50px;
     cursor: pointer;
    
    

}.list ul li:hover{
    color:rgb(0, 0, 255);
    border-bottom: 2px solid rgb(0, 0, 255);


}
.searchbar{
    float:left ; 
  outline: none;
    text-align: center;
    margin: -27px;
    color:#E2D1B0;
    
    
    
}
.searchbar input{
    outline: none;
    width: 250px;
    border-radius: 3px;
    height:30px;
   padding-left: 10px;
   font-size: 15px;
   color: black;
    border: 0;
    background-color: white;
       
    /* border-top: none;
    border-left: none;
    border-right: none; */
     
} 
.searchbar input:hover{
    border: none;

}
.intro{
    display: flex;
    float: left;
    position: relative;
    margin:  200px auto;
}
.intro h1{
    margin-bottom: 20px;
    font-size: 60px;
    border-bottom: 2px solid black;
}
.name{


    display: inline;
    padding-left: 20px;
  
}.bimg img{
    flex:30%;
    float: right;
    width: 200px;
    margin-left: 500px;
  
}
    

